.background {
  width: 100%;
  height: calc(100vh - 71px);
  min-width: 1570px;
}

.closeButton {
  width: 20px;
  height: 20px;
}

.leftGiftBox {
  bottom: -82px;
}

.rightGiftBox {
  right: 6px;
  bottom: -9px;
}

@media (max-width: 1570px) {

  .leftGiftBox,
  .rightGiftBox {
    display: none;
  }
}